.create-project-parent {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-nav {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 20px; */
  padding: 0 20px;
}

.modal-exit-button-container {
  cursor: pointer;
}

.create-project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  padding: 30px 0px;
}

.apd-title {
  font-size: 24px;
  font-weight: 500;
}

.create-project-form {
  margin-top: 30px;
  width: 100%;
}

.create-project-input {
  
}

.create-project-input-field {
  display: flex;
  flex-direction: column;
}

.adl-container {
  margin-top: 10px;
  font-size: 13px;
}

#add-description-link {
  color: #14aaf5;
  cursor: pointer;
  text-decoration: none;
}

.create-project-field-label {
  font-size: 12px;
  margin-bottom: 5px;
  color: #6f7782
}

#cp-title {
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 9px;
  border: 1px #9ca6af solid;
  outline: none;
}

#cp-description {
  max-height: 70px;
  min-height: 70px;
  padding: 9px 9px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #9ca6af;
  outline: none;
}

#cp-button {
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  font-size: 13px;
  cursor: pointer;
  width: 100%;
  background-color: #14aaf5;
  border-color: #14aaf5;
  color: #fff;
  border-radius: 4px;
}

#cp-button:hover {
  background-color: #3f85ee;
}