.project-show-parent {
  display: flex;
  min-height: 100vh;
  width: 100%;
};

.project-show-all {
  display: flex;
  background: rgb(199, 199, 245)
}

.project-show-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-show-navbar {
  width: 100%;
}