/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html body {
  /* background-image: linear-gradient(to top right, rgb(255, 100, 115) 60%, rgb(254, 168, 90)); */
  background-repeat: no-repeat;
  /* background: gray; */
  /* background-image: url('../images/water-background.jpg'); */
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

#root {
  min-height: 100vh;
  /* height: 100vh;
  overflow-x: hidden; */
}

.session-link {
  color: red;
  background: white;
  padding: 5px;
}

.app {
  min-height: 100vh;
  width: 100%;
}

.hidden {
  display: none;
}

* {
  border: 1px solid red;
}

li {
  list-style: none;
}