.home-parent {
  /* display: block; */
  /* min-height: 100vh; */
  width: 100%;
  box-sizing: border-box;
}

.home-all {
  background: #fff;
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
  width: 100%;
}

.home-main {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.home-content {
  width: 80%;
}

/* .side-bar-parent {
  width: 100%;
} */

.home-navbar {
  width: 100%;
  border-bottom: 1px solid blue
}

.home-category-header {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px 0;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 2px solid #e8ecee;
  margin: 0 25px;
}

.category-toggle-triangle {
  margin-right: 5px;
}

.home-category-title {
  font-size: 16px;
}