.home-parent {
  /* display: block; */
  /* min-height: 100vh; */
  width: 100%;
  box-sizing: border-box;
}

.home-all {
  background: #fff;
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
  width: 100%;
}

.home-main {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  margin: 0 auto;
  align-items: center;
  /* background: rgb(224, 238, 255); */
}

.home-content {
  width: 80%;
  margin-top: 70px;
}

.home-content-section {
  margin-bottom: 30px;
}

.home-navbar {
  width: 100%;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #e8ecee;
  z-index: 3;
}

.home-category-header {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px 0;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 2px solid #e8ecee;
  margin: 0 25px;
}

.home-projects-category-collapse-toggle {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.home-favorites-category-collapse-toggle {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.home-category-collapse-down-triangle {
  fill: #9ca6af;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.home-category-collapse-right-triangle {
  fill: #9ca6af;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* .category-toggle-triangle {
  margin-right: 5px;
} */

.home-category-title {
  font-size: 16px;
}

.home-projects-category-collapse-toggle:hover {
  cursor: pointer;
}

.home-favorites-category-collapse-toggle:hover {
  cursor: pointer;
}