.nav-bar-parent {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.home-nav-left-items {
  display: flex;
}

.session-link {
  padding: 5px;
  background: rgb(20,170,245);
  color: white;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 30px;
}

.nb-user-dropdown-parent {
  position: relative;
}

.home-nav-user-dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  right: 20px;
  top: 55px;
  z-index: 1;
  width: 200px;
  border: 1px solid #e8ecee;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.home-nav-dropdown-content-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 40px;
  border-bottom: 1px solid #e8ecee;
}

.home-nav-dropdown-content-item:hover {
  background: #d3d7da;
  cursor: pointer;
}

.show {
  display: block;
}