// #project-toggle-section {
//   position: relative;
//   z-index: 0;
// }

.project-index-container {
  display: flex;
  align-content: flex-start;
  // position: relative;
  // z-index: 0;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  width: 100%;
  // position: relative;
  // z-index: 0;
}

// .project-tile-parent {
//   position: relative;
//   z-index: 0;
// }

.project-tile, .new-project-tile {
  box-sizing: border-box;
  /* margin: 0 10px; */
  width: 150px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  position: relative;
  // z-index: 0;
  top: 0;
  transition: top ease 0.5s;
  padding: 15px;
  margin: 5px 15px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
}

.project-tile:hover, .new-project-tile:hover {
  top: -5px;
  background-color: rgb(230, 230, 230);
}

.tile-project-title {
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  max-height: 34px;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}

.project-icon {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #4186e0;
  border-radius: 20px;
  position: relative;
  // z-index: 0;
}

.new-project-icon {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #9ca6af;
  border-radius: 20px;
}

.svg-plus-icon {
  height: 32px;
  width: 32px;
  fill: #9ca6af;
}

.project-tile-menu-icon {
  // position: absolute;
  // right: 15px;
  // top: 10px;
  width: 16px;
  height: 16px;
  z-index: 1;
  padding: 5px;
  // 
  opacity: 0;
  fill: rgba(255, 255, 255, .5)
  // 
}

.project-tile:hover .project-tile-menu-icon {
  opacity: 1
}

.project-tile:hover .tile-solid-star {
  opacity: 1
}

.project-tile:hover .tile-empty-star {
  opacity: 1
}

.project-tile-dropdown-contents, .favorite-tile-dropdown-contents {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #e8ecee;
  border-radius: 4px;
  // left: 75px;
  // top: 35px;
  width: 150px;
  z-index: 10000;
  padding: 5px 0;
}

.project-tile-dropdown-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 20px;
  width: 100%;
  padding-left: 10px;
}

.project-tile-dropdown-item:hover {
  background: #d3d7da;
  cursor: pointer;
}

.show {
  display: block;
}

.project-tile-menu-icon:hover {
  // 
  opacity: 1;
  fill: #fff
  // 
}

.new-project-tile:hover {
  .new-project-icon {
    border: 2px dashed #3a3d41;
  }
  .new-project-icon .svg-plus-icon {
    fill: #3a3d41;
  }
}

.tile-empty-star {
  height: 16px;
  width: 16px;
  fill: rgba(255, 255, 255, .5);
  // margin-left: 10px;
  opacity: 0;
  padding: 5px;
}

.tile-empty-star:hover {
  cursor: pointer;
  fill: #fff;
}

.tile-solid-star {
  height: 16px;
  width: 16px;
  fill: rgba(255, 255, 255, .5);
  // margin-left: 10px;
  opacity: 0;
  padding: 5px;
}

.tile-solid-star:hover {
  cursor: pointer;
  fill: #fff;
}

.project-icon-top {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-icon-placeholder {
  width: 16px;
  height: 39px;
}