.side-bar-parent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  /* background-color: #151B26; */
  background-color: #151b26;
  color: #cbd4db;
  width: 240px;
  position: fixed;
  z-index: 3;
}

.side-bar-header {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-between;
}

.side-bar-logo-link {
  height: 16px;
  width: 100%;
  /* background-image: image_url("logo_horizontal_color.svg"); */
  /* z-index: 10; */
  size: 80%;
}

.side-bar-logo-link:hover {
  cursor: pointer;
}

.side-bar-logo {
  height: 16px;
  padding-left: 30px;
}

.side-burger-icon {
  margin-right: 25px;
  cursor: pointer;
  fill: #9ca6af;
  height: 16px;
  width: 25px;
}

.side-bar-header svg:hover path {
  fill: #fff;
}
/* .side-bar-collapse-burger:hover {
  fill: #fff;
} */

.side-bar-nav-link-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #273240;
}

.side-bar-favs-container {
  border-bottom: 1px solid #273240;
  padding: 5px 0;
}

.side-bar-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: #cbd4db;
}

.side-bar-link:hover {
  cursor: pointer;
  background-color: #444c5c;
}

.side-bar-link-icon-home {
  fill: #6f7782;
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

.side-bar-link-icon-tasks {
  fill: #6f7782;
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

.side-bar-link-icon-tasks-container {
  border: solid 1px #6f7782;
}

.side-bar-link-text {
  font-size: 14px;
  line-height: 20px;
}

.side-bar-project-index-section {
  padding: 5px 0;
}

.side-bar-project-index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

.side-bar-projects-label {
  font-size: 15px;
  line-height: 24px;
  color: #e8ecee
}

.side-bar-projects-label:hover {
  cursor: default;
}

.add-project-cross {
  height: 12px;
  width: 12px;
  fill: rgba(255,255,255,.5);
  padding: 2px;
}

.add-project-cross:hover {
  cursor: pointer;
  fill: #fff;
}

.side-bar-project-index-parent {
  /* padding: 0 15px; */
}

.side-bar-project-index-item {
  display: flex;
  align-items: center;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
}

.side-bar-project-index-item:hover {
  background-color: #444c5c;
  cursor: pointer;
}

.side-bar-project-color-icon {
  fill: #4186e0;
  height: 12px;
  width: 12px;
  margin-right: 10px;
}

.side-bar-project-name {
  display: block;
  /* vertical-align: middle; */
  width: 100%;
  height: 26px;
  font-size: 13px;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.side-bar-dropdown-container {
  position: relative;
  // z-index: 1;
}

.side-bar-project-dropdown-icon {
  height: 20px;
  width: 12px;
  margin-left: 10px;
  opacity: 0;
  fill: rgba(255, 255, 255, .5);
  margin-top: 10px;
  padding: 0 3px;
}

.side-bar-project-dropdown-icon:hover {
  opacity: 1;
  fill: #fff;
}

.side-bar-project-dropdown-contents, .side-bar-favorite-dropdown-contents {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #e8ecee;
  border-radius: 4px;
  left: 10px;
  top: 30px;
  width: 150px;
  z-index: 3;
  padding: 5px 0;
}

.side-bar-project-dropdown-item {
  color: black;
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 20px;
  width: 100%;
  padding-left: 10px;
}

.side-bar-project-dropdown-item:hover {
  background: #d3d7da;
  cursor: pointer;
}

// .side-bar-project-dropdown-item:hover {
//   .side-bar-project-dropdown-icon {
//     opacity: 1;
//   }
// }

.show {
  display: block;
}

.project-plus-dropdown-container {
  position: relative;
}