.side-bar-parent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  /* background-color: #151B26; */
  background-color: #151b26;
  color: #cbd4db;
  width: 100%;
}

.side-bar-header {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-between;
}

.side-bar-logo-link {
  height: 16px;
  width: 100%;
  /* background-image: image_url("logo_horizontal_color.svg"); */
  /* z-index: 10; */
  size: 80%;
}

.side-bar-logo-link:hover {
  cursor: pointer;
}

.side-bar-logo {
  height: 16px;
  padding-left: 10px;
}

.side-burger-icon {
  margin-right: 15px;
  cursor: pointer;
  fill: #9ca6af;
  height: 16px;
  width: 25px;
}

.side-bar-header svg:hover path {
  fill: #fff;
}
/* .side-bar-collapse-burger:hover {
  fill: #fff;
} */

.side-bar-nav-link-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #273240;
}

.side-bar-favs-container {
  border-bottom: 1px solid #273240;
}

.side-bar-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: #cbd4db;
}

.side-bar-link:hover {
  cursor: pointer;
  background-color: #444c5c;
}

.side-bar-link-icon {
  fill: #6f7782;
  height: 20px;
  width: 20px;
  margin: 0 10px;
}
